.body {
    background-image: url('../images/account.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
}

#contact {
    position: center;
    margin-top: 100px;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    /* background: url('tulip.webp') no-repeat center center/cover; */

}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;

}

#submit {
    text-align: center;
    font-size: 1.5rem;
}

.button {
    padding: 6px 20px;
    border: 2px solid black;
    background-color: rgb(240, 227, 211);
    color: black;
    margin: 17px;
    font-size: 1.0rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    color: red
}