    body {
        background-image: url('../images/thankyou.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        overflow: hidden;
    }


    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .button {
        padding: 6px 20px;
        border: 2px solid black;
        background-color: rgb(240, 227, 211);
        color: black;
        margin: 17px;
        font-size: 1.0rem;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        cursor: pointer;
        margin-left: 45%;
    }

    .button:hover {
        color: blue;
    }